body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 5px 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast-item {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    flex-basis: calc(20% - 10px);
    box-sizing: border-box;
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

.history-item {
    display: block;
    background-color: #f8f8f8;
    color: #007bff;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.history-item:hover {
    background-color: #007bff;
    color: #fff;
}
.current-weather-info {
    background-color: rgba(135, 206, 250, 0.3);
    padding: 1rem;
    border-radius: 0.5rem;
}
